# 4.6.Combining & Exporting Data Part II

## Importing Libs

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Datasets

In [3]:
# importing orders_products_combined
path = r'C:\Users\shyou\3D Objects\My Original Data Sources\Achievement4\March-2023 Instacart Basket Analysis'

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
orders_products_combined.shape

(32434489, 10)

In [7]:
orders_products_combined.rename(columns = {'_merge': 'prior_merge'} , inplace = True)

In [8]:
orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,prior_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
# importing products_checked
products_checked = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv') , index_col = False)

In [10]:
products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
products_checked = products_checked.drop(columns = ['Unnamed: 0'])

In [12]:
products_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
products_checked.shape

(49672, 5)

## Merging products_checked and orders_products_combined

In [14]:
orders_products_merged  = products_checked.merge(orders_products_combined, on = 'product_id', indicator = True)

In [16]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prior_merge,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both

In [17]:
orders_products_merged.shape

(32404859, 15)

In [18]:
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
orders_products_merged_outer_join  = products_checked.merge(orders_products_combined, on = 'product_id', indicator = True , how = 'outer')

In [21]:
orders_products_merged_outer_join.shape

(32435070, 15)

In [23]:
orders_products_merged_outer_join['_merge'].value_counts()

both          32404859
right_only       30200
left_only           11
Name: _merge, dtype: int64

## Exporting Data

In [24]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [25]:
orders_products_merged.shape

(32404859, 15)