# 4.6.Combining & Exporting Data Part I

## Importing Libs

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# importing datasets
path = r'C:\Users\shyou\OneDrive\Documents\Data Analitics Course\Achievement4\March-2023 Instacart Basket Analysis'

In [3]:
# importing order_products__prior
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [9]:
# importing orders_checked
df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [10]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [11]:
df_ords.shape

(3421083, 7)

In [16]:
df_ords =  df_ords.drop(columns = ['Unnamed: 0'])

## Merging df_ords and df_ords_prior

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.tail(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
32434479,626363,206209,12,1,12,18.0,14727,20,0,both
32434480,2977660,206209,13,1,12,7.0,24852,1,1,both
32434481,2977660,206209,13,1,12,7.0,9405,2,1,both
32434482,2977660,206209,13,1,12,7.0,16168,3,1,both
32434483,2977660,206209,13,1,12,7.0,39216,4,0,both
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [20]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))