# 4.7: Deriving New Variables

## Importing Libs

In [27]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Datasets

In [28]:
# importing orders_products_merged
path = r'C:\Users\shyou\3D Objects\My Original Data Sources\Achievement4\March-2023 Instacart Basket Analysis'

In [29]:
orders_products_merged = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [30]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prior_merge,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both

In [ ]:
# create a subset

In [31]:
df = orders_products_merged[:1000000]

In [32]:
df.shape

(1000000, 15)

## Defining Function

In [33]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

## Applying Function

In [34]:
df['price_range'] = df.apply(price_label , axis =1)

C:\Users\shyou\AppData\Local\Temp\ipykernel_9376\3477760829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label , axis =1)

In [35]:
df['price_range'].value_counts(dropna = False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [36]:
df['prices'].max()

24.5

## Applying loc[ ]

In [54]:
orders_products_merged.loc[orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [55]:
orders_products_merged.loc[(orders_products_merged['prices'] <= 15) & (orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [56]:
orders_products_merged.loc[orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [57]:
orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

## For Loop

In [41]:
orders_products_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [48]:
result = []

for value in orders_products_merged['order_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [49]:
orders_products_merged['busiest_day'] = result

In [50]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [51]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prior_merge,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid-range product,Least busy

In [52]:
orders_products_merged.shape

(32404859, 17)

# Task

In [58]:
#Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days”

In [62]:
result_2 = []
for value in orders_products_merged['order_day_of_week']:
    if value == 0 or value == 1:
        result_2.append('Busiest day')
    elif value == 3 or value == 4:
        result_2.append('Slowest day')
    else:
        result_2.append('Regularly busy')

In [63]:
orders_products_merged['busiest_days'] = result_2

In [64]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest day       11864412
Slowest day        7624336
Name: busiest_days, dtype: int64

In [65]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prior_merge,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid-range product,Regularly busy,Slowest day
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid-range product,Least busy,Slowest day

In [ ]:
#Check the values of this new column for accuracy. Note any observations in markdown format.

In [66]:
# Busiest day = 11864412 --- 6204182 + 5660230 = 11864412
# Slowest day = 7624336 ---  3840534 + 3783802 = 11864412

In [ ]:
#The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.

In [67]:
orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [75]:
a_1 = [10,11,14,15,13,12,16,9,17,8,18,19]
a_2 = [20,7,21,22,23,6,0,1]
a_3 = [5,2,4,3]
result_3 = []
for value in orders_products_merged['order_hour_of_day']:
    if   value in a_1:
        result_3.append('Most orders')
    elif value in a_2:
        result_3.append('Average orders')
    else:
        result_3.append('Fewest orders')

In [76]:
orders_products_merged['busiest_period_of_day'] = result_3

In [77]:
orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     4324350
Fewest orders       261859
Name: busiest_period_of_day, dtype: int64

In [78]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,prior_merge,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid-range product,Regularly busy,Slowest day,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid-range product,Least busy,Slowest day,Most orders

In [79]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))